<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.7.82" targetFramework="net40" />
  <package id="Mono.Cecil" version="0.11.2" targetFramework="net40" />
  <package id="MonoMod" version="20.3.5.1" targetFramework="net40" />
  <package id="MonoMod.RuntimeDetour" version="20.3.5.1" targetFramework="net40" />
  <package id="MonoMod.Utils" version="20.3.5.1" targetFramework="net40" />
</packages>